html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font: 112.5%/1.45em georgia, serif, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: hsla(0, 0%, 0%, 0.8);
	font-family: "Nanum Myeongjo", serif;
	line-height: 40px;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
}

.barlow{
		font-family: Barlow, sans-serif;
}
.barlow-m{
		font-family: Barlow;
		font-style: normal;
		font-weight: 500;
}
/*
  UNDERLINE MAGICAL LINK ANIMATION - from Will King
  https://codepen.io/Wking/pen/BdmpVx 
	*/
	.profileImage{
		width: 450px;
		max-width: 100%;
		height: 1000px;
		background-image: url(../images/about-image.png);
		background-size: cover;
		margin-top: 30px;
	}

	.profileImageMobile{
		width: 450px;
		max-width: 100%;
		height: 500px;
		background-image: url(../images/about-image.png);
		background-size: cover;
	}
	.underline-link {
		background-image: linear-gradient(120deg, #e9f0f4 0%, #e9f0f4 100%);
		background-repeat: no-repeat;
		background-size: 100% 0.092em;
		background-position: 0 88%;
		transition: background-size 0.25s ease-in;
		text-decoration: none;
	}
		.underline-link:active,
		.underline-link:hover {
			color:fafafa;
			background-size: 100% 100%;
			text-decoration: none;
	}

/* Custom Colors */
.ac1 {
	color: #0007dd;
}

.bg-ac1 {
	background-color: #0007dd;
}

.ac2 {
	color: #000368;
}

.bg-ac2 {
	background-color: #000368;
}

.ac3 {
	color: #e9f0f4;
}

.bg-ac2 {
	background-color: #e9f0f4;
}

.base-w {
	color: #fafafa;
}

.bg-base-w {
	background-color: #fafafa;
}

.base-b {
	color: #131313;
}

.bg-base-b {
	background-color: #131313;
}

.gray-a {
	color: #131313;
}

.bg-gray-a {
	background-color: #131313;
}

.gray-b {
	color: #e5e5e5;
}

.bg-gray-b {
	background-color: #e5e5e5;
}

.gray-c {
	color: #b8b8b8;
}

.bg-gray-c {
	background-color: #b8b8b8;
}

.gray-d {
	color: #6d6d6d;
}

.bg-gray-d {
	background-color: #6d6d6d;
}

.gray-e {
	color: #484848;
}

.bg-gray-e {
	background-color: #484848;
}